{erl_opts, [debug_info]}.

{shell, [
  {config, "apps/ct_containers/config/sys.config"},
  {apps, [ct_containers]}
]}.

{relx, [{release, {ct_containers, "0.1.0"},
  [ct_containers,
    sasl]},

  {mode, dev}
  %% {sys_config_src, "./config/sys.config.src"},
  %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
  [
    {mode, prod}
  ]
}]}]}.
